<!DOCTYPE html>
<html>
  <head>
    <title>Nightroutine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/5915874518.js" crossorigin="anonymous"></script>  
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <div class="header-logo">
    <h1>Nightroutine</h1>
  </div>
  <div class="openbtn"><span></span><span></span><span></span></div>
  <nav id="g-nav">
    <div id="g-nav-list">  
      <ul>
        <li>
        <%= link_to "Top", stars_top_path %>
        </li>    
        <li>
        <%= link_to "診断", new_cat_path %>
        </li>  
        <li>
        <%= link_to "みんなのページ", stars_path %>
        </li> 
         
        <li>
        <% if user_signed_in? %>
              <li>
              <%= link_to "Mypage", user_path(current_user.id) %>
              <li>
              <%= button_to 'Logout', destroy_user_session_path, method: :delete %></li>
              </li>  
              <% else %>
            <li><%= link_to "Signup", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
        </li>  
      </ul>  
    </div>
  </nav>
</header>
  <main>
    <%= yield %>
  </main>
 </body>
</html>

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
 <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</body>

</html>


<script>
$(".openbtn").click(function () {
 $(this).toggleClass("active");
 $("#g-nav").toggleClass("panelactive");
});
$("#g-nav a").click(function () {
 $(".openbtn").removeClass("active");
 $("#g-nav").removeClass("panelactive");
});
</script>
